{% extends "base.html" %}

{% block title %}SAfBI - Sign In{% endblock %}

{% block sidebar %}
{% endblock %}

{% block body %}
<div id="login">
  <div class="login-form panel panel-default">
    <div class="panel-heading text-center">
      <big><strong>Login to your account</strong></big>
    </div>
    <div class="panel-body">
      <img src="{{ config['CDN_LOCAL'] }}/img/login.png" alt="">
      <form role="form" method="POST" action="">
	<fieldset>
	  <div class="col-md-offset-1 col-sm-12 col-md-10">
	    <div class="form-group">
	      <div class="input-group">
		<span class="input-group-addon">
		  <i class="fa fa-envelope fa-fw"></i>
		</span>
		<input autofocus class="form-control" id="email" name="email"
		       type="text" value="" placeholder="Email" required>
	      </div>
	    </div>
	    <div class="form-group">
	      <div class="input-group">
		<span class="input-group-addon">
		  <i class="fa fa-lock fa-fw"></i>
		</span>
		<input class="form-control" id="password" name="password" 
		       type="password" value="" placeholder="Password"
		       required>
	      </div>
	    </div>
	    <div class="form-group">
	      <input class="btn btn-primary btn-block" id="submit" name="submit"
		     type="submit" value="Sign In">
	    </div>
	  </div>
	</fieldset>
      </form>
    </div>
    <div class="panel-footer text-center">
      <a href="{{ url_for('login') }}">Forgot your password?</a>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function () {
      $('.header-bar').toggleClass("fullwidth");
      $('.wrapper').toggleClass("fullwidth");
      $('.footer-bar').toggleClass("fullwidth");
  });
</script>
{% endblock%}
