{% extends "base.html" %}

{% block title %}SAfBI - Monitoring: Inventory{% endblock %}

{% block body %}
<div class="inventory-header section-header">
  <div class="title">
    <i class="fa fa-fw fa-cubes" aria-hidden="true"></i>
    Monitoring: Inventory
  </div>
</div>
<div class="inventory-content section-content" style="padding: 0% 1%;">
  <div id="inventory-toolbar" class="toolbar" style="max-height: 10%;padding: 0.5% 0%;">
    <button class="btn btn-primary" type="button" data-toggle="modal"
	    id="inventory-filter" aria-haspopup="true" aria-expanded="false" disabled="disabled">
      <i class="fa fa-fw fa-filter"></i>
    </button>
  </div>
  <table id="inventory-table"
	 data-toolbar="#inventory-toolbar"
         data-show-toggle="false" data-show-export="false" data-export-data-type="all"
         data-show-columns="true" data-show-multi-sort="true"
         data-sort-name="id" data-pagination="true"
         data-toggle="table" data-search="true" data-striped="true"
         data-show-footer="false" data-page-size="150" data-page-list="[50, 100, 150, 250, 400]"
         data-escape="false" data-maintain-selected="true"
	 data-show-refresh="true" data-row-style="InventoryRowStyle"
	 data-url="{{ url_for('api_monitoring_inventory') }}?"
	 data-response-handler="InventoryResponseHandler"
	 data-query-params="InventoryParams"
	 data-side-pagination="client"
	 data-show-header="true" data-reorderable-columns="true"
	 data-detail-view="true" data-detail-formatter="InventoryDetailFormatter"
         class="table-hover table-striped table-compact table-responsive
                table-condensed table-autosize">
    <thead>
      <tr>
	<th data-field="select" data-visible="true"
	    data-checkbox="true">
	  <i class="fa fa-fw fa-check-square"></i>
	</th>
	<th data-field="site" data-valign="middle"
	    data-align="center" data-sortable="true"
	    data-formatter="InventoryFormatterSite">
          <i class="fa fa-fw fa-building"></i>
          Site
        </th>
	<th data-field="name" data-valign="middle"
	    data-align="left" data-sortable="true"
	    data-formatter="InventoryFormatterName">
          <i class="fa fa-fw fa-list"></i>
          Name
        </th>
        <th data-field="chassis" data-align="left" data-halign="center" 
	    data-valign="middle" data-sortable="true" data-visible="false"
	    data-formatter="InventoryFormatterChassis">
          <i class="fa fa-fw fa-list-ul"></i>
          Chassis
        </th>
        <th data-field="serial" data-align="center" 
	    data-valign="middle" data-sortable="true"
	    data-formatter="InventoryFormatterSerial">
          <i class="fa fa-fw fa-list-ol"></i>
          Serial
	</th>
        <th data-field="hardware" data-align="center" 
	    data-valign="middle" data-sortable="true"
	    data-formatter="InventoryFormatterHardware">
          <i class="fa fa-fw fa-clipboard-check"></i>
          Hardware
	</th>
        <th data-field="software" data-align="center" 
	    data-valign="middle" data-sortable="true"
	    data-formatter="InventoryFormatterSoftware">
          <i class="fa fa-fw fa-clipboard-check"></i>
          Software
	</th>
	<th data-field="actions" data-align="center" 
	    data-valign="middle"
	    data-formatter="InventoryFormatterActions">
          <i class="fa fa-fw fa-user-cog"></i>
        </th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
{% endblock %}

{% block modals %}
{% endblock %}

{% block scripts %}
{% include "__include__/moment.js.html" %}
{% include "__include__/bootstrap-table.html" %}

<script>
{% include "monitoring/inventory/index.js" %}
</script>
{% endblock %}
